.page-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                    url('./assets/header-bg.png') !important;
  background-size: cover !important;
  background-position: center !important;
}
