---
---

/* Reset some defaults */
html, body {
  margin: 0;
  padding: 0;
}

/* Page background */
body {
  min-height: 100vh;

  background-image: url("../assets/header-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
